$radius: 50;
$speed: .7s;

.frame {
  @include frame;
  background: #2C2E2E;
  @include flex(center, row);
}

.pacman {
  position: absolute;
	width: ($radius * 2) + px;
  height: ($radius * 2) + px;
  fill: none;
	stroke: #F4D146;
  stroke-width: $radius + px;
  // stroke-linecap: butt;
	stroke-dasharray: ($radius * 3.14);
	animation: mouth $speed ease-in-out infinite;
}

.eye {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 167px;
	left: 204px;
	fill: #2C2E2E;
	animation: eye $speed ease-in-out infinite;
}

.dots {
	position: absolute;
	height: 14px;
	width: 240px;
	top: 193px;
	left: 180px;
	stroke: #F4D146;
	stroke-width: 14px;
	stroke-dasharray: 0px 50px;
	stroke-linecap: round;
	animation: points $speed linear infinite;
	stroke-dashoffset: 14;
}

@keyframes mouth {
	0%, 100% {
		stroke-dashoffset: 0;
		transform: rotate(0deg) translate3d(0,0,0);
	}
	50% {
		stroke-dashoffset: ($radius * 3.14 / 4);
		transform: rotate(45deg);
	}
}

@keyframes eye {
	0%, 100% {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(-6px, -3px, 0);
	}
}

@keyframes points {
	0% {
		stroke-dashoffset: 14;
		transform: translate3d(0,0,0);
	}
	100% {
		stroke-dashoffset: 64;
	}
}
